{% load static %}

<html>
    <head>
        <title>Benjamin's Grill House</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" type="text/css" href="{% static 'main_app/global.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <h1><a class="navbar-brand mb-0" href="/">Benjamin's Grill House</a></h1>
            <a href="/#">Dashboard</a>
            <a href="/products">Products</a>
            <a href="/#">Ingredients</a>
        </nav>
        
        <div class="content-container">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
        <footer class="footer">
            <div class="container">© 2021 Efficacite</div>
        </footer>

    </body>
</html>