{% load static %}
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/login.css' %}">
</head>

    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
    
        {{ message }}
    
    </div>
    {% endfor %}
<body>
    <div class="login-container">
        <div class="col-md-3 mx-auto">
            <div class="card mb-5">
                <div class="card-header">
                    <p>Benjamin's Grill House</p>
                    <h1 class="card-title">Welcome Back!</h1>
                    <!-- <em><h1 class="card-title">Welcome Back!</h1></em> -->
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                        <div class="login-input-container">
                            <input type="text" class="form-control" id="user" name="user" placeholder="Username" required>
                        </div>
                        <div class="login-input-container">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required>
                        </div>
                        <div class ="login-button-container">
                            <button type="submit" class="mx-3 col-11 btn btn-success">LOGIN</button>
                        </div>
                    </form>                
                </div>
                </div>
        </div>
    </div>
</body>