{% extends 'main_app/base.html' %}

{% block content %}
<div class="products-hero">
    <div class="container">
        <h1 class="jumbotron-heading">Ingredients</h1>
        <p>A table of all ingredients</p>
        <a href="{% url 'add_ingredient' %}"><button class="btn btn-dark-grabgrub">Add Ingredient</button></a>
    </div>
</div>

<div class="col-12">
    <table class="table table-striped" id="food_table">
        <thead>
            <th scope="col"> Ingredient Name </th>
            <th scope="col"> Description </th>
            <th scope="col"> Current Quantity </th>
            <th scope="col"> Quantity Threshold </th>
            <th scope="col"> Metric </th>
            <th scope="col"> Date Created </th>
            <th scope="col" class="no-sort"></th>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td> {{ ingredient.name }} </td>
                <td> {{ ingredient.description }} </td>
                <td> {{ ingredient.current_quantity }} </td>
                <td> {{ ingredient.quantity_threshold }} </td>
                <td> {{ ingredient.metric }} </td>
                <td> {{ ingredient.created_at }} </td>
                <td>
                    <a href="{%  url 'view_ingredient' ingredient.pk %}">
                        <button class="btn btn-dark-grabgrub">View</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}