table {
    border-collapse:collapse;
}

.table {
    border: 1px solid #DFE0EB;
    border-radius: 4px;
    width: 100%;
}

.table th {
    text-align: center;
}

.table tr {
    text-align: center;
    
    height: 50px;
    border: 1px solid black;
}

.table tbody tr:hover {
    background: #C5C7CD;
}