{% extends 'main_app/base.html' %}

{% block content %}
<div class="products-hero">
    <div class="container">
        <h1 class="jumbotron-heading">Products</h1>
        <p>A table of all products</p>
        <a href="{% url 'add_product' %}"><button class="btn btn-dark-grabgrub">Add Product</button></a>
    </div>
</div>

<div class="col-12">
    <table class="table table-striped" id="food_table">
        <thead>
            <th scope="col"> Food Name </th>
            <th scope="col"> Description </th>
            <th scope="col"> Price (₱) </th>
            <th scope="col"> Date Created </th>
            <th scope="col"> Ingredients </th>
            <th scope="col" class="no-sort"></th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td> {{ product.name }} </td>
                <td> {{ product.description }} </td>
                <td> {{ product.price }} </td>
                <td> {{ product.created_at }} </td>
                <td>
                    <div class="ingredients-list">
                        {% for ingredient in product.ingredients.all %}
                            <a href="{% url 'view_ingredient' ingredient.pk %}">- {{ingredient.name}}</a>
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{%  url 'view_product' product.pk %}">
                        <button class="btn btn-dark-grabgrub">View</button>
                    </a>
                </td>
                <td>
                    <a href="{%  url 'update_product' product.pk %}">
                        <button class="btn btn-dark-grabgrub">Update</button>
                    </a>
                </td>
                <td>
                    <a href="{%  url 'delete_product' product.pk %}" onclick="return confirm('Are you sure you want to delete this?')">
                        <button class="btn btn-dark-grabgrub">Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}